{{msg}}

{{#if entity}}
<form action="/crud/d/{{entityName}}/{{entity._id}}" method="post">
  <button type="submit">Deletar</button>
</form>

<form action="/crud/u/{{entityName}}/{{entity._id}}" method="post">
{{else}}
<form action="/crud/c/{{entityName}}" method="post">
{{/if}}

{{> mLangText attName="name" name="Nome" value=entity.name required="required"}}

<button type="submit">Enviar</button>
</form>
