<h1>Eventos</h1>
<a btn href="/crud/c/{{entityName}}">Cadastrar Evento</a>
<table>
  <thead>
    <tr>
      <th>Iniciais</th>
      <th>Título</th>
      <th>Conferência</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each list}}
    <tr>
      <td>{{this.initials}}</td>
      <td>{{this.title.[0]}}</td>
      <td>{{this.conference.initials}}</td>
      <td>
        <a btn href="/crud/r/{{../entityName}}/{{this._id}}">-></a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
