<blockquote>

<label for="pt-br-{{attName}}">{{name}} PT-BR</label>
<input type="text" name="{{attName}}" id="pt-br-{{attName}}" value="{{value.[0]}}" {{required}}>

<label for="en-{{attName}}">{{name}} EN</label>
<input type="text" name="{{attName}}" id="en-{{attName}}" value="{{value.[1]}}">

<label for="es-{{attName}}">{{name}} ESP</label>
<input type="text" name="{{attName}}" id="es-{{attName}}" value="{{value.[2]}}">

</blockquote>
